<section class="my-lg-6 my-8">
  <div class="container">
    <div class="row">
      <% if(products) { products.forEach(product=>{ %>

      <!-- product 1 -->
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="/product-details/<%= product.id%>" class="image">
              <img class="pic-1" src="<%= product.image%>" alt="images" />
              <!-- <img class="pic-2" src="/uploads/img-2.jpg" /> -->
            </a>
            <!-- <a href="#" class="product-like-icon" data-tip="Add to Wishlist">
              <i class="far fa-heart"></i>
            </a> -->

            <!-- <ul class="product-links">
              <li>
                <a href="#"><i class="fa fa-search"></i></a>
              </li>

              <li>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
              </li>

              <li>
                <a href="#"><i class="fa fa-random"></i></a>
              </li>
            </ul> -->
          </div>

          <div class="product-content">
            <h3 class="title">
              <a href="/product-details/<%= product.id%>"
                ><%= product.name %></a
              >
            </h3>
            <div class="price">₹<%= product.price%></div>
            <a
              href="/cart/<%= product._id %>"
              class="button"
              onclick="addToCart()"
              class="cart"
              ><button class="btn btn-primary">Add to cart</button></a
            >
          </div>
        </div>
      </div>

      <!--  -->
      <%}) }%>
      <!--  -->
    </div>
  </div>
</section>
