<%- include('files/header.ejs') %>
<body>
  <% if (name) { %> <%- include('files/navbar.ejs', {name}) %> <% } else { %>
  <%- include('files/navbar.ejs', {name:""}) %> <% } %> <%-
  include('files/banner.ejs') %> <%- include('files/features.ejs') %>
  <%-include('files/middle.ejs') %> <%-include('files/popular.ejs') %> <%-
  include('files/footer.ejs') %>
</body>
</html>
